<% layout('layout') %>

" Welcome to real time web gis "

<form method="post">
<input type="text" class="form-control" placeholder="name" name="name">
<br>
<input type="text" class="form-control" placeholder="geometry" name="geometry">
<br>
<button type="submit" value="submit">SUbmit</button>
</form>

