<% layout('layout') %>

<div class="contanier">
<h1> Oops ! We Encounter an error </h1>

    <div style="padding:20px;border:1px solid black;border-radius:20px">
    <h4> Error Info <h4>
    <hr>

    <h4><%= err %></h4>


    </div>
</div>