<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
        

         <div class="container">
 <h1>Welcome to WebGIS</h1>
 <br>
<form method="post" action="/coords">
         <input type="text" name="db" class="form-control" placeholder="Database" required><br>
     <input type="text" name="query" class="form-control" placeholder="Query" required><br>
<button class="btn btn-primary" type="submit">Submit</button>
<br>
     <br>

     </form>


    </div>
  </body>
</html>

